$gray: #ccc !default;
$gray-hover: #595757 !default;

html {
  background: #F0F0E8;
}

#body_wrap {
  width: 400px;
  margin: 20px auto;
}

#finishTodo {

}

#checkNum {
  font-size: 70pt;
}

#meanOfNum {
  font-size: 30pt;
}

#resetButton {
  font-size: 12pt;
  border: none;
  background: #FFFF;
  color: $gray;
  
  &:hover {
    color: #000; 
  }
}

#form {
  width: 400px;
  margin-bottom: 20px;
}

#formTextWrap{
  float: left;
}

#formText {
  width: 344px;
  height: 28px;
  font-size: 17px;
  border:solid 1px #ddd;
  -moz-box-shadow: inset 1px 1px 1px -1px rgba(0,0,0,0.7);
  -webkit-box-shadow: inset 1px 1px 1px -1px rgba(0, 0, 0, 0.7);
  box-shadow: inset 1px 1px 1px -1px rgba(0,0,0,0.7);
}

#formButtonWrap{
  text-align: right;
}

#formButton {
  border: 1px solid $gray;
  background: #FFF;
  width: 46px;
  height: 30px;
  margin-bottom: 3px;

  &:hover {
    color: #FFF;
    background: $gray-hover;
    border: 1px solid $gray-hover;
  }
}

#deleteAllButton {
  border: 1px solid $gray;
  background: #FFF;
  width: 50px;
  height: 28px;
}

.todo {
  width: 400-8*2px;
  height: 130px;
  margin-bottom: 10px;
  padding: 7px;
  background-color: #FFF;
}

.todoHeader {
  width: 400-8*2px;
}

.finish {
  float:left;
  border: 1px solid $gray;
  background: #FFF;
  width: 46px;
  height: 28px;

  &:hover {
    color: #FFF;
    background: $gray-hover;
    border: 1px solid $gray-hover;
  }
}

.todoDate {
  text-align: right;
  font-size: 12px;
}

.todoText {
  margin-top: 50px;
  height: 17px;
  font-size: 17px;
  text-align: right;
}

.todoFooter {
  width: 46*2+3px;
  margin: 16px 0px 0px auto;
}

.edit {
  border: 1px solid $gray;
  background: #FFF;
  width: 46px;
  height: 28px;

  &:hover {
    color: #FFF;
    background: $gray-hover;
    border: 1px solid $gray-hover;
  }
}

.delete {
  border: 1px solid $gray;
  background: #FFF;
  width: 46px;
  height: 28px;
  margin-left: 3px;

  &:hover {
    color: #FFF;
    background: $gray-hover;
    border: 1px solid $gray-hover;
  }
}

.change {
  border: 1px solid $gray;
  background: #FFF;
  width: 46px;
  height: 28px;

  &:hover {
    color: #FFF;
    background: $gray-hover;
    border: 1px solid $gray-hover;
  }
}

.cancel {
  border: 1px solid $gray;
  background: #FFF;
  width: 46px;
  height: 28px;
  margin-left: 3px;

  &:hover {
    color: #FFF;
    background: $gray-hover;
    border: 1px solid $gray-hover;
  }
}


.inputTODO {
  width: 350px;
  height: 22px;
  font-size: 17px;
}